<div id="map" class="container">
  <%= render partial: 'map', locals: { hexes: @hexes, range: @range } %>
</div>

<div class="movement_legend">
  <div class="none"></div>
  <div class="road"></div>
  <div class="grass"></div>
  <div class="river"></div>
  <div class="mountain"></div>
</div>

<div id="max_movement" style="width: <%= current_user.max_movement - 5 %>px">
  <%= render partial: 'home/meter', locals: {user: current_user} %>
</div>
