$road_color: #4b0e0e;
$grass_color: #228b22;
$river_color: #227b8b;
$mountain_color: #504646;
$player_color: #FFFF00;

$hex_size: 80px;
$radius: calc(#{$hex_size} / 2);
$border: 4px;

.container {
  width: 1200px;
  margin-top: 14px;
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

ol.even {
  margin-top: calc(-0.5 * #{$radius});
}

ol.odd {
  margin-top: calc(-0.5 * #{$radius});
  margin-left: calc(#{$radius} - 0.5 * #{$border});
}

.hex {
  margin-bottom: calc(-2 * #{$border});
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: calc(-2 * #{$border});
  margin-top: calc(-0 * #{$radius});
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: black;

  .hex-inner {
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

    width: calc(#{$hex_size} - 2 * #{$border});
    height: calc(#{$hex_size} - 2 * #{$border});
    margin: $border;

    &.road {
      background-color: $road-color;

      &:hover {
        background-color: darken($road_color, 5%);
      }
    }

    &.grass {
      background-color: #228b22;

      &:hover {
        background-color: darken($grass_color, 10%);
      }
    }

    &.river {
      background-color: #227b8b;

      &:hover {
        background-color: darken($river_color, 10%);
      }
    }

    &.mountain {
      background-color: #504646;

      &:hover {
        background-color: darken($mountain_color, 10%);
      }
    }

    &.bedrock {
      background-color: #000000;
    }

    &.player {
      background-color: $player_color;

      &:hover {
        background-color: $player_color;
      }
    }
  }
}

.hex-offset {
  margin-bottom: calc(-2 * #{$border});
  position: relative;
  display: inline-block;
  margin-right: calc(-2 * #{$border});
  margin-top: calc(-0 * #{$radius});
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

  .hex-inner {
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

    width: calc(#{$hex_size} - 2 * #{$border});
    height: calc(#{$hex_size} - 2 * #{$border});
    margin: $border;
  }
}

.player {
  background-color: yellow;
}
