$none-color: #c1b8b8;
$road_color: #4b0e0e;
$grass_color: #228b22;
$river_color: #227b8b;
$mountain_color: #504646;
$player_color: #FFFF00;

.map {
  width: 660px;
  border: 1px solid black;
}

.flex-grid {
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid black;
}

.cell-inner {
  height: 60px;

  &.selected {
    background-color: lightcoral;
  }

  &:hover {
    background-color: lightblue;
  }
}

@keyframes example {
  to {
    margin-left: 100%;
  }
}

@keyframes width_animation {
  to {
    width: 100%;
  }
}

.current_stamina {
  margin-top: -25px;
  height: 30px;
  width: 10px;
  background-color: grey;
  animation-name: example;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#max_hp, #max_mp{
  height: 20px;
}

.current_hp {
  height: 100%;
  background-color: darkgreen;
  animation-name: width_animation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.current_mp {
  height: 100%;
  background-color: darkblue;
  animation-name: width_animation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.stamina_legend {
  div {
    height: 20px;
    width: 100px;
    display: table-cell;
    padding: 0;
  }

  .none {
    background-color: $none-color;
  }

  .road {
    background-color: $road-color;
  }

  .grass {
    background-color: $grass-color;
  }

  .river {
    background-color: $river-color;
  }

  .mountain {
    background-color: $mountain-color;
  }
}

.hp_legend {
  height: 20px;
  width: 100px;
  display: table-cell;
  padding: 0;
  background-color: $grass-color;
}

// ==== hex

@import 'hex-style';
