.map {
  width: 660px;
  border: 1px solid black;
}

.flex-grid {
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid black;
}

.cell-inner {
  height: 60px;

  &.selected {
    background-color: lightcoral;
  }

  &:hover {
    background-color: lightblue;
  }
}



// ==== hex

@import 'hex-style';
